#!/usr/bin/make -f

package = commandeer

build:
	./waf configure --prefix=/usr
	./waf build

clean:
	dh_testdir
	dh_clean
	./waf distclean

install: build
	dh_clean
	dh_installdirs
	./waf install --destdir=$(CURDIR)/debian/$(package)

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_install
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
binary: binary-indep binary-arch
