#!/usr/bin/make -f

package = commandeer

build:
	./waf configure --prefix=/usr
	./waf build
	
	pod2man --section=1 --release=$(VERSION) --center "" debian/commandeer.pod > commandeer.1

clean:
	dh_testdir
	dh_clean
	./waf distclean
	rm -f commandeer.1

install: build
	dh_clean
	dh_installdirs
	./waf install --destdir=$(CURDIR)/debian/$(package)

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installman commandeer.1
	dh_install
	dh_icons
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
binary: binary-indep binary-arch
